* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 0 0 1px black;
	scroll-snap-align: start;
	scroll-behavior: smooth;
}

.container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;}

.one {
	background: #F2CDA0;
}

.two {
	background: #3C4359;
}

.three {
	background: #F29BAB;
}

.four {
	background: #99F2D1;
}

.five {
	background: #3C4359;
}

.six {
	background: #3C4359;
}
